








# # # DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:wqQoMOLkO2
# RewriteEngine on
# RewriteCond %{HTTP_REFERER} !^$
# RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?jobaskit.com/.*$      [NC]
# RewriteRule .*\.(jpg|jpeg|gif|png|bmp|tiff|avi|mpeg|mpg|wma|mov|zip|rar|exe|mp3|pdf|swf|psd|txt|html|htm)$ https://jobaskit.com [R,NC]
# # DO NOT REMOVE THIS LINE AND THE LINES ABOVE wqQoMOLkO2:HOTLINKID

