     .main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .topbar{
    background-color: teal;
    overflow: hidden;
 }
 .topbar h4{
    text-align: center;
    color: whitesmoke;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
 }
 .sidebar{
    background-color: #333;
    color: white;
    height: 100%;
 }
 .sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
 }
 .card{
    position: relative;
    display: flex;
    flex-direction: column;
 }
 .content{
    background-color: whitesmoke;

 }
